Sm	Lw	Lo	RDV1
Sm	Lw	Mu	RDV2
Sm	Lw	Hi	RDV3
Sm	Md	Lo	RDV2
Sm	Md	Mu	RDV3
Sm	Md	Hi	RDV4
Sm	Hg	Lo	RDV3
Sm	Hg	Mu	RDV4
Sm	Hg	Hi	RDV5
In	Lw	Lo	RDV2
In	Lw	Mu	RDV3
In	Lw	Hi	RDV4
In	Md	Lo	RDV3
In	Md	Mu	RDV4
In	Md	Hi	RDV5
In	Hg	Lo	RDV4
In	Hg	Mu	RDV5
In	Hg	Hi	RDV6
Bi	Lw	Lo	RDV3
Bi	Lw	Mu	RDV4
Bi	Lw	Hi	RDV5
Bi	Md	Lo	RDV4
Bi	Md	Mu	RDV5
Bi	Md	Hi	RDV6
Bi	Hg	Lo	RDV5
Bi	Hg	Mu	RDV6
Bi	Hg	Hi	RDV7

